/*  Clases generales */
body{
    background-color: black;
    color: #FFFFFF;
    }
    article{
    background-color: rgb(44, 43, 43);
    padding: 1.5rem;
    border-bottom: 1px solid #FFFFFF;
    }
    #título_del_blog{
        text-align: center;
        font-size: 3rem;
    }
    /* Terminan clases generales  */
    
    /* barra de navegación */
    .resaltado {
        color: yellow;
    }
    nav>ul>li {
        list-style: none;
    }
    nav>ul>li>a {
        text-decoration: none;
    }
    /* fin barra de navegación */
    
    /* footer del blog */
    #footer_blog{
        margin: 2rem;
    }
    /* fin del footer del blog */
    
    /* ilustraciones */
    .ilustracion{
        border: 4px solid white;
        display: inline-block;
    }
    .ilustracion figcaption {
        margin-top: 1rem;
        margin-left: 1rem;
        font-style: italic;
    }
    /* fin ilustraciones */
    /* grid */
    section {
        
        /* despliégate como  grid */
        display: grid;
        /* Crea 12 columnas cada una de una fracción usando la función repeat*/
        grid-template-columns: repeat(12, 1fr);
        /* deja que las filas(renglones) ocupen el alto que necesitan */
        grid-auto-rows: auto;
        /* añade un espacio entre los elementos del grid de 3rem */
        gap: 3rem;
    }
    
    /* Termina grid */
    /* apunta sólo a los header que son hijos directos de section */
    section>header {
        /* esta sección se extenderá 12 columnas. */
        grid-column: span 12;
    }
    /*apunta a el main que son hijos de section. */
    section>main {
        /*se extendera 8 columnas*/
        grid-column: span 8;
    }
    /*afectara solo a los aside que son hios directos de section*/
    section>aside {
        /*se extendera 4 columnas*/
        grid-column: span 4;
    }
    /*afectara solo a los footer que son hios directos de section*/
    section>footer {
        /* se extendera 12 columnas*/
        grid-column: span 12;
    }