/*  Clases generales */
body{
background-color: black;
color: #FFFFFF;
margin-top: 0;
}
article{
background-color: rgb(44, 43, 43);
padding: 1.5rem;
border-bottom: 1px solid #FFFFFF;
}
nav{
    font-size: 1.3rem;
    position:fixed;
    width:100%;
    background-color: #000;
}
#título_del_blog{
    text-align: center;
    font-size: 3rem;
    margin-top: 150px;
}
/* Terminan clases generales  */

/* barra de navegación */
.resaltado {
    color: yellow;
}
nav>ul>li {
    list-style: none;
}
nav>ul>li>a {
    text-decoration: none;
    color: #fff;
}
/* fin barra de navegación */
nav>ul>li>a:hover{
    text-decoration: underline;
    color: greenyellow;
}


/* footer del blog */



/* fin del footer del blog */

/* footer del blog */
#footer_blog{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
    padding: 4rem 0 4rem 0;
    font-size:2rem;
}
/* fin del footer del blog */







/* solo selecciona el blog creado... del footer del blog*/
#footer_blog div:nth-child(2){
    /* hace que el tamaño del texto sea de 0.9rem*/
    font-size: 0.9rem;
}
/* ilustraciones */
.ilustracion{
    border: 4px solid white;
    display: inline-block;
}
.ilustracion figcaption {
    margin-top: 1rem;
    margin-left: 1rem;
    font-style: italic;
}
/* fin ilustraciones */
/* grid */
section {
    
    /* despliégate como  grid */
    display: grid;
    /* Crea 12 columnas cada una de una fracción usando la función repeat*/
    grid-template-columns: repeat(12, 1fr);
    /* deja que las filas(renglones) ocupen el alto que necesitan */
    grid-auto-rows: auto;
    /* añade un espacio entre los elementos del grid de 3rem */
    gap: 3rem;
}

/* Termina grid */
/* apunta sólo a los header que son hijos directos de section */
section>header {
    /* esta sección se extenderá 12 columnas. */
    grid-column: span 12;
}



/*apunta a el main que son hijos de section. */
@media (max-width: 1024.1) {
    section>main {
    /*se extendera 8 columnas*/
    grid-column: span 12;
}
}

@media (max-width: 1024.1) {
    section>aside {
    /*se extendera 4 columnas*/
    grid-column: span 12;
}
}


section>main {
    /*se extendera 8 columnas*/
    grid-column: span 8;
}

/*afectara solo a los aside que son hios directos de section*/
section>aside {
    /*se extendera 4 columnas*/
    grid-column: span 4;
}

/*afectara solo a los footer que son hios directos de section*/
section>footer {
    /* se extendera 12 columnas*/
    grid-column: span 12;
}
/* selecciona elm ul que esta adentro de la etiqueta nav*/

/* desde 0 hasta 1099px compórtate así: */
nav ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 1rem;
    padding-bottom: 1.5rem;
}

/* pantallas grandes de 1100px en adelante compórtate así: */
@media (min-width: 1100px) {
    nav ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

    nav {
        border-bottom: 5px solid red;
    }


/* fin pantallas grandes */

article>header>hgroup{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

article>header>hgroup>h2{
    display: flex;
    align-items: center;
}
article>header>hgroup>h2>img{
    margin: 1rem;
}
aside>h2{
     text-align: center;
     font-size: 1.3rem;
}
aside>div:nth-of-type(even){
    background-color: rgb(44, 43, 43);
}
/* Selecciona todas las imágenes que vivan dentro de un div que a su vez vive dentro de aside */
aside div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 0.6rem;
    border-bottom: 1px dashed #fff;
}

/* si la pantalla mide mínimo 1024.1 px y máximo 1324.1 entonces... */
@media (min-width: 1024.1px) and (max-width: 1324.1px) {
    aside div {
        /* despliega los elementos de microblogging uno encima del otr */
        flex-direction: column;
    }
}

/* end media */
aside div img {
    /* la imagen tendrá color de fondo blanco */
    background-color: #fff;
    /* habrá un espacio entre el borde y el contenido de 0.5rem */
    padding: 0.5rem;
    /* redondea el borde para que sea un círculo */
    border-radius: 50%;
}
    .messi{
        display: flex;
        align-items: center;
        justify-content: space-between;
    border-bottom: 2px dashed white ;
    }
    .neymar{
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .cris{
        margin-bottom: 1rem;
        margin-top: 1rem;
    }